.top-coins-table {
    td {
        div {
            padding: 5px;
            background: #eee;
        }
        .price-down {
            background: #ff7060;
        }
        .price-up {
            background: #26da71;
        }
    }
}