.coin-info-detail-info {
  &__head-info {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    & .item {
      .title {
        font-weight: 500;
        color: #b1b1b1;
        font-size: 0.9rem;
      }
    }
  }
}

@media (max-width: 800px) {
  .coin-info-detail-info {
    &__head-info {
      flex-direction: column;

      .item {
        padding: 5px 0;

        .text {
          margin-left: 10px;
        }
      }
    }
  }
}