.top-coins {
    &__wrapper {
        overflow: hidden;
    }
    &__coin {
        &-name {
            display: flex;
            align-items: center;
        }
        &-image {
            height: 2rem;
            margin-right: 10px;
        }
        &-text {
            line-height: 1rem;
        }
    }
    &-table {
        thead tr th {
            &:first-child {
                max-width: 40px;
            }
        }
        tbody tr td,
        tbody tr th {
            vertical-align: inherit;
            &:not(:first-child) {
                min-width: 130px;
            }
        }
    }
}

@media (max-width: 800px) {
    .top-coins {
        &__wrapper {
            overflow: auto;
        }
    }
}